main {
background: url("file:///C:/Users/anabi/OneDrive/%C3%81rea%20de%20Trabalho/Mentoria/pricing-component-with-toggle-master/images/bg-bottom.svg") no-repeat bottom left, url("file:///C:/Users/anabi/OneDrive/%C3%81rea%20de%20Trabalho/Mentoria/pricing-component-with-toggle-master/images/bg-top.svg") no-repeat top right;
background-size: 20%;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product li {
   text-align: center;
   box-sizing: border-box;
   border: 2px solid black;
}

.professional {
    width: 250px;
    margin: 40px;
}

.basic, .master {
    width: 200px;
    margin: 20px;
}


.annually {
    display: none;
}




