:root {
    --height:250px;
}

main {
background: url("file:///C:/Users/anabi/OneDrive/%C3%81rea%20de%20Trabalho/Mentoria/pricing-component-with-toggle-master/images/bg-bottom.svg") no-repeat bottom left, url("file:///C:/Users/anabi/OneDrive/%C3%81rea%20de%20Trabalho/Mentoria/pricing-component-with-toggle-master/images/bg-top.svg") no-repeat top right;
background-size: 20%;
height: 100vh;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
   list-style: none;
   padding: 2rem 4rem;
   border: 2px solid black;
   height: var(--height);
   text-align: center;
}

li:nth-child(2) {
    height: calc(var(--height) + 30px);
    margin-top: -15px;
}